@charset "utf-8";
/* CSS Document */

body,html{
	font:12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333;
}

body,p,form,input,button,ol,ul,il,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	list-style:none;
}

body{
	background-color:#f5f5f5;
}

a{
	color:#666;
	text-decoration:none;
	cursor:pointer;
}

a:hover{
	color:#ff4040;
}




/*................................mod_floor_lift部分CSS....................................*/

.mod_floor_lift{
	position:fixed;
	top:25%;
	left:15%;
	width:35px;
	line-height:18px;
	text-align:center;
}

.mod_floor_lift li{
	height:40px;
	background-color:#fff;
	margin-bottom:2px;
	padding-top:6px;
}



























