@charset "utf-8";
/* CSS Document */

body,html{
	font:12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333;
}

body,p,form,input,button,ol,ul,il,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	list-style:none;
}

a{
	color:#666;
	text-decoration:none;
	cursor:pointer;
}

a:hover{
	color:#ff4040;
}

body{
	background:#f9f9f9;
}

.wrap{
	margin:0 auto;
	width:1228px;
}

img{
	border:none;
}

.main_body .wrap{
	width:1200px;
	margin:0 auto;
}

em,i{
	font-style:normal;
}

/*header部分CSS START*/
.allsort_btn{
	display:inline-block;
	width:210px;
	height:40px;
	line-height:40px;
	background-color:#ff4040;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	font-size:14px;
	position:absolute;
	left:0px;
	bottom:25px;
}
	
.allsort_btn img{
	position:relative;
	top:5px;
	left:-2px;
}

/*这是topbar部分CSS*/


.head_wrapper{
	height:205px;
	width:100%;
}

.topbar_wrapper_color{
	background-color:#f4f4f4;
	height:30px;
	line-height:30px;
	border-bottom:1px solid #e5e5e5;
}

.topbar_wrapper{
	position:relative;
	height:30px;
	width:1228px;
	text-align:left;
	margin:0 auto;
}

.topbar_left{
	float:left;
}

.topbar_right{
	float:right;
}

.topbar_right li{
	float:left;
	position:relative;
}


.hd_has_child{
	float:left;
    width:88px;
	text-align:center;;
}

.menu_main, .menu_main_list{
	padding-left:5px;
	text-align:left;
}

.menu_main_list{
	position:absolute;
	width:80px;
	line-height:30px;
	float:left;
	display:none;
	border:1px solid #DADADA;
	background-color:#fff;

}

.menu_main_list a{
	float:left;
	display:block;
}

.menu_mine{
	margin-left:20px;
	margin-right:-2px;
	width:88px;
	float:left;
}
	
.topbar_left:hover{
	color:#ff4040;
	cursor:pointer;
}

.hd_hi, .hd_login_link{
	color:#ff4040;
}

.hd_regist_link{
	color:#aaa;
	padding-left:5px;
}
	
.topbar_right a:hover{
	color:#ff4040;
}

.tubiao_iconfont{
	position:relative;
	top:2px;
	width:14px;
	height:14px;
}

/*这是header_main部分CSS*/

.hd_header_wrap{
	width:1228px;
	margin:0 auto;
}

.headerwrap_main{
	position:relative;
	margin:0 auto;
	width:1228px;
	height:200px;
}

.headerwrap_main .left_logo{
	float:left;
	width:205px;
	height:150px;
	mar
}

.hd_logo_img{
	width:205px;
	height:110px;
	margin-top:20px;
}

.headerwrap_main .hd_main_right{
	position:relative;
	float:left;
	width:1023px;
}

.header_form_wrap{
	float:left;
	margin-left:38px;
	margin-bottom:50px;
	width:752px;
	height:36px;
	line-height:36px;
	background-color:#ff4040;
	border:2px solid #ff4040;
}

.headerwrap_main .hd_right_ipt{
	border:0 none;
	width:685px;
	height:34px;
	line-height:34px;
	padding-left:15px;
}

.headerwrap_main .hd_right_btn{
	position:relative;
	border:0 none;
	background:none;
}

.headerwrap_main .hd_right_btn .sousuo_iconfont{
	position:absolute;
	bottom:-6px;
	left:15px;
	background-color:#ff4040;
}
	
.hd_header_keywordsshow{
	margin:0 auto;
	margin-left:-3px;
}

.hd_header_keywordsshow a:hover{
	color:#ff4040;
	cursor:pointer;
}

.hd_header_keywordsshow a{
	font-size:14px;
	margin-right:10px;
	color:#aaa;
}

.hd_header_cart{
	position:relative;
	width:132px;
	height:38px;
	line-height:38px;
	float:left;
	margin-left:90px;
	border:1px solid #D3D3D3;
	font-size:16px;
	text-align:center;
}

.header_cart_iconfont{
	position:relative;
	top:3px;
	margin-right:12px;
	width:17px;
	height:17px;

}

.hd_header_nav{
	position:relative;
	margin-top:50px;
	margin-left:38px;
	width:785px;
	height:38px;
	
}

.hd_header_nav .tuijian_nav li{
	float:left;
	font-size:16px;
	margin-right:31px;
}


/*main_body部分CSS START*/

.main_body{
	margin-top:20px;
	height:1100px;
}

.main_body .body_left{
	width:190px;
	border:1px solid #e7e7e7;
	float:left;
	margin-right:10px;
	background-color:#fff;
}

.main_body .body_left .top_bar{
	position:relative;
	height:54px;
	line-height:54px;
	border-bottom:1px solid #fd6d37;
	padding-left:20px;
	font-size:14px;
	font-weight:bold;
}

.main_body .body_left .top_bar:hover{
	background-color:#fd6d37;
	border:1px solid #fa6d37;
	color:#fff;
}

.main_body .body_left .top_bar .red_num{
	background-color:#ff3c3c;
	color:#fff;
	font-style:italic;
	border:1px solid #ff3c3c;
	border-radius:9px;
	width:22px;
	height:13px;
	line-height:15px;
	display:block;
	text-align:center;
	position:absolute;
	top:15px;
	right:0px;
	font-weight:100;
}

.main_body .body_left .dl_box{
	line-height:30px;
	line-height:30px;
	padding-left:45px;
}

.main_body .body_left .dl_box dt{
	margin-left:-12px;
	font-weight:bold;
}

.main_body .body_left .dl_box dt a{
	color:#333;
}

.main_body .body_left .dl_box dd a{
	width:145px;
	display:inline-block;
	margin-left:-45px;
	padding-left:45px;
	color:#999
}

.main_body .body_left .dl_box dd a:hover{
	background-color:#fd6d37;
	color:#fff;
	width:145px;
	display:inline-block;
}

.body_left .dl_box dt .red_box{
	margin-left:-15px;
	margin-right:14px;
	position:relative;
	top:1px;
}

.body_left .dl_box dt .arrow_xia{
	margin-left:30px;
}

/*main_body body_right部分CSS START*/

.main_body .body_right .part1{
	height:238px;
	margin-bottom:20px;
	width:995px;
	float:left;
	margin-left:-3px;
	position:relative;
	background-color:#fff;
}
	
.main_body .body_right .part1 div{
	float:left;
	margin-right:10px;
}


.main_body .body_right .part1 .out_box{
	background:url(../image/icon_myyhd_index_24.png) no-repeat 0px -250px;
	width:238px;
	height:233px;
	text-align:center;
	color:#fff;
	float:left;
	margin-top:-2px;
}

.body_right .part1 .out_box .user_infm .face{
	background:url(../image/peopleicon_02.gif) no-repeat;
	width:80px;
	height:80px;
	border:2px solid #fff;
	border-radius:50%;
	position:relative;
	top:10px;
	left:80px;
}

.body_right .part1 .out_box  .user_name{
	font-weight:bold;
	margin-bottom:5px;
	font-family:'Tahoma';
	position:relative;
	top:100px;
}

.body_right .part1 .out_box .user_infm .level_box{
	margin-bottom:30px;
	position:relative;
	top:100px;
	left:-30px;
}

.body_right .part1 .out_box .user_infm .level_box .level{
	background-color: #ff3c3c;
    color: #fff;
    border: 1px solid #ff3c3c;
    border-radius: 9px;
    width: 38px;
    height: 16px;
    line-height: 16px;
    display: inline-block;
    text-align: center;
	margin-right:3px;
}

.body_right .part1 .out_box .id_safe{
	width:200px;
	margin:0 auto;
	position:relative;
	top:88px;
}

.body_right .part1 .out_box .id_safe .sczz{
	background:url(../image/icon_myyhd_index_24.png) -297px -300px no-repeat;
	width:102px;
	height:25px;
	display:inline-block;
	position:relative;
	top:-10px;
	left:15px;
}

.body_right .part1 .out_box .id_safe .red_bar{
	background:url(../image/icon_myyhd_index_24.png) -4px -505px no-repeat;
	width:190px;
	height:10px;
	display:inline-block;
	position:relative;
	left:18px;
	top:-3px;
}

.body_right .part1 .out_box .id_safe .yellow_bar{
	background-color:#ffeb68;
	border:1px solid #ffeb68;
	border-radius:9px;
	width:95px;
	height:6px;
	display:block;
	position:relative;
	top:2px;
}

.body_right .part1 .out_box .id_safe a{
	margin-left:30px;
	
}

.body_right .part1 .left1_box .inner_box{
	width:60px;
	height:220px;
	border:1px solid #D4D4D4;
	box-shadow:0px  0px 0px 0.3px #D4D4D4;
	border-radius:2px;
	position:relative;
	top:6px;
	left:-40px;
	margin-right:-40px;
	z-index:-2;
}

.body_right .part1 .left1_box .inner_box .red_num{
	background-color: #ff3c3c;
    color: #fff;
    border: 1px solid #ff3c3c;
    border-radius: 9px;
    width: 22px;
    height: 13px;
    line-height: 15px;
    display: block;
    text-align: center;
    position: absolute;
    top:10px;
    right:10px;
    font-weight: 100;
}

.body_right .part1 .left2_box, .body_right .part1 .right1_box{
	width:238px;
	height:220px;
	border:1px solid #e7e7e7;
	margin-top:6px;
	padding-left:10px;
	
}


.body_right .part1 .top_tit{
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	margin-top:10px;
	margin-bottom:24px;
}

.body_right .part1 .red_bar_left{
	border:1px solid #ed6c44;
	background-color:#ed6c44;
	width:1px;
	height:12px;
	display:inline-block;
	position:relative;
	top:2px;
	margin-right:8px;
}

.body_right .part1 .left2_box .zcnr{
	width:200px;
	padding-left:15px;
}


.body_right .part1 .left2_box .zcnr a{
	display:block;
	line-height:24px;
	margin-bottom:15px;
	width:200px;
	height:24px;
}

.body_right .part1 .left2_box .zcnr .sp1{
	float:left;
}

.body_right .part1 .left2_box .zcnr .sp2{
	float:right;
}

.body_right .part1 .left2_box .zcnr .sp2 em{
	color:#ff3c3c;
	font-weight:bold;
	font-family:'Tahoma';
}

.body_right .part1 .right1_box{
	margin-left:-10px;
}

.body_right .part1 .right1_box a{
	display:inline-block;
	width:110px;
	text-align:center;
	color:#666;
}

.body_right .part1 .right1_box .qbnr{
	margin-top:-15px;
}

.body_right .part1 .right1_box .qbnr span{
	display:block;
	line-height:28px;
}

.body_right .part1 .right1_box .line_up{
	border-bottom:1px solid #e7e7e7;
	height:85px;
	width:238px;
	margin-left:-10px;
	padding-left:10px;
}

.body_right .part1 .right1_box .a1{
	border-right:1px solid #e7e7e7;
}


.body_right .part1 .right1_box .a3{
	border-right:1px solid #e7e7e7;
	height:83px;
}


.body_right .part1 .right1_box .a3{
	padding-top:13px;
}

.body_right .part1 .right1_box .a2, .body_right .part1 .right1_box .a4{
	position:relative;
	top:-6px;
}

.body_right .part1 .right2_box img{
	position:absolute;
	right:0px;
	top:5px;
}

/*part2 part3 part4 CSS START*/

.main_body .body_right .part2{
	width:995px;
	border:1px solid #e7e7e7;
	float:left;
	margin-bottom:10px;
	margin-left:-3px;
	background-color:#fff;
}

.main_body .body_right .part2 .line1{
	height:40px;
	line-height:40px;
	padding-left:10px;
	font-weight:bold;
	font-size:14px;
	font-family:'microsoft yahei';
	position:relative;
	border-bottom:1px solid #e7e7e7;
}

.main_body .body_right .part2 .line1 a.qbdd{
	display:inline-block;
	border-bottom:2px solid #fd6d37;
	height:40px;
}

.main_body .body_right .part2 .line1 a.wddd{
	position:absolute;
	right:25px;
	font-size:12px;
	color:#aaa;
	font-weight:100;
}

.main_body .body_right .part2 .line1 a.wddd:hover{
	text-decoration:underline;
}

.main_body .body_right .part2 .line1 a.wddd img{
	position:relative;
	left:10px;
}


.main_body .body_right .part2 .line2{
	height:120px;
}
.main_body .body_right .part2 .line2 a.bgimg{
	display:block;
	width:243px;
	margin:0 auto;
	height:42px;
	background:url(../image/noShopping1.png) no-repeat;
	position:relative;
	top:35px;
}

.main_body .body_right .part2 .line2 a.bgimg:hover{
	display:block;
	width:500px;
	margin:0 auto;
	height:42px;
	background:url(../image/noShopping2.png) no-repeat;
	position:relative;
	top:35px;
}

.body_right .part3 .left_box, .body_right .part3 .medium_box, .body_right .part3 .right_box{
	width:330px;
	height:210px;
	float:left;
	border:1px solid #e7e7e7;
	background-color:#fff;
	margin-left:-1px;
}


.body_right .part3 .left_box:hover, .body_right .part3 .medium_box:hover, .body_right .part3 .right_box:hover{
	border:1px solid #fd6d37;
	width:331px;
	height:210px;
}



.body_right .part3 .top_tit{
	position:relative;
	display:block;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	margin-top:10px;
	margin-bottom:34px;
	color:#333;
	padding-left:10px;
}

.body_right .part3 .red_bar_left{
	display:block;
	border:1px solid #ed6c44;
	background-color:#ed6c44;
	width:1px;
	height:12px;
	display:inline-block;
	position:relative;
	top:2px;
	margin-right:8px;
}

.body_right .part3 .top_tit img{
	display:inline-block;
	position:absolute;
	right:15px;
}


.body_right .part3 .left_box .yhj_box{
	position:relative;
	display:block;
	background:url(../image/icon_myyhd_index_24.png) no-repeat 0px -28px;
	width:206px;
	height:97px;
	margin-left:50px;
	padding-top:30px;
	padding-left:20px;
}

.body_right .part3 .left_box .yhj_box .price{
	display:inline-block;
	font-size:30px;
	color:#fd6d37;
	font-family:'microsof yahei';
	font-weight:bold;
	width:82px;
	height:30px;
	line-height:30px;
	float:left;
}

.body_right .part3 .left_box .yhj_box .price em{
	font-size:20px;
}

.body_right .part3 .left_box .yhj_box .xxnr{
	display:block;
	line-height:20px;
	margin-top:-3px;
}

.body_right .part3 .left_box .yhj_box p{
	color:#fd6d37;
}

.body_right .part3 .left_box .yhj_box button{
	background-color:#fd6d37;
	color:#fff;
	width:90px;
	height:30px;
	line-height:30px;
	border:1px solid #fd6d37;
	border-radius:2px;
	font-size:12px;
	position:absolute;
	right:30px;
	bottom:18px;
}


.body_right .part3 .medium_box .containt{
	text-align:center;
	font-size:16px;
	color:#999;
	margin-top:50px;
}

.body_right .part3 .right_box .containt{
	margin-top:50px;
	position:relative;
}

.body_right .part3 .right_box .containt .img{
	display:block;
	width:100px;
	height:100px;
	border:1px solid #e7e7e7;
	float:left;
	margin:0 25px;
}

.body_right .part3 .right_box .containt .wenben{
	float:left;
	margin-top:10px;
	font-family:'Tahoma';
}

.body_right .part3 .right_box .containt .wenben p{
	line-height:25px;
}

.body_right .part3 .right_box .containt .wenben p em{
	color:#fd6d37;
}

.body_right .part3 .right_box .containt .wenben .gray_txt em{
	font-size:14px;
	color:#999;
}

.body_right .part3 .right_box .containt .wenben .gray_txt em{
	text-decoration:line-through;
}

.body_right .part3 .right_box .containt .bg_hidden_btn{
	background:url(../image/icon_myyhd_index_24.png) no-repeat -115px -215px;
	width:70px;
	height:15px;
	display:inline-block;
	position:absolute;
	right:30px;
	top:95px;
}

.body_right .part3 .right_box .containt .bg_hidden_btn:hover{
	background:url(../image/icon_myyhd_index_24.png) no-repeat -99px -170px;
	width:91px;
	height:35px;
	display:inline-block;
	position:absolute;
	right:23px;
	top:85px;
}

.main_body .body_right .part4{
	width:995px;
	height:238px;
	float:left;
	margin-bottom:10px;
	margin-left:-3px;
	background-color:#fff;
	margin-top:10px;
}

.main_body .body_right .part4 .box_left{
	width:662px;
	height:238px;
	border:1px solid #e7e7e7;
	float:left;
}

.main_body .body_right .part4 .box_left:hover, .main_body .body_right .part4 .box_right:hover{
	border:1px solid #fd6d37;
}

.main_body .body_right .part4 .box_left p{
	font-weight:bold;
	font-size:14px;
	margin-left:130px;
	line-height:30px;
	height:30px;
	width:58px;
	border-bottom:2px solid #fd6d37;
	padding-left:2px;
	margin-top:3px;
}

.main_body .body_right .part4 .box_left .bg_collect_pro{
	background:url(../image/no_cang2.png) no-repeat;
	width:250px;
	height:77px;
	position:relative;
	top:40px;
	left:200px;
}

.main_body .body_right .part4 .box_left .bg_collect_pro:hover{
	background:url(../image/no_cang.png) no-repeat;
	width:250px;
	height:77px;
	position:relative;
	top:40px;
	left:200px;
}
	
.body_right .part4 .top_tit{
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	margin-top:10px;
	margin-bottom:24px;
}

.body_right .part4 .red_bar_left{
	border:1px solid #ed6c44;
	background-color:#ed6c44;
	width:1px;
	height:12px;
	display:inline-block;
	position:relative;
	top:2px;
	margin-right:8px;
}

.main_body .body_right .part4 .box_right{
	float:left;
	width:320px;
	height:238px;
	border:1px solid #e7e7e7;
	margin-left:-1px;
	padding-left:10px;
}


.main_body .body_right .part4 .box_right .containt{
	margin:45px 0 0 40px;
	color:#666;
	line-height:30px;
}

.main_body .body_right .part4 .box_right .tel_num_box input{
	border:1px solid #d1d1d1;
	width:150px;
	line-height:20px;
	height:20px;
	color:#666;
}

.main_body .body_right .part4 .box_right .money{
	margin-left:24px;
	cursor:default;
}
	
.main_body .body_right .part4 .box_right .money input{
	border:1px solid #d1d1d1;
	width:163px;
	line-height:25px;
	height:25px;
	color:#666;
	cursor:default;
}

.main_body .body_right .part4 .box_right .money i.sq_arrow{
	background:url(../image/sprite-1.png) no-repeat 0px -65px;
	display:inline-block;
	width:15px;
	height:15px;
	position:relative;
	left:-22px;
	top:2px;
}

.main_body .body_right .part4 .box_right .price{
	margin-left:12px;
}

.main_body .body_right .part4 .box_right .price .value{
	color:#FF1919;
	font-weight:bold;
}

.main_body .body_right .part4 .box_right .containt .ljcz{
	background:url(../image/sprite-1.png) no-repeat 0px 0px;
	width:81px;
	height:32px;
	color:#fff;
	display:block;
	text-align:center;
	position:relative;
	top:15px;
	left:25px;
}

.main_body .body_right .part4 .box_right i{
	font-weight:bold;
}
	
	
/*footer部分CSS START*/
.footer_wrap{
	background-color:#fff;
}

.wrap_footer_begin{
	background-color:#fff;
	padding:30px 0 30px 30px;
	width:1228px;
}

.footer_top_box{
	padding:0 30px;
}

.footer_top_box a{
	position:relative;
	display:inline-block;
	margin:0 40px 0px 35px;
	height:100px;
	width:206px;
	overflow:hidden;
	color:#333;
}

.footer_top_box img{
	float:left;
	margin-right:15px;
}


.footer_top_box b{
	margin-top:10px;
	display:inline-block;
	font-size:16px;
}

.footer_top_box span{
	display:block;
	margin-top:5px;
	color:#929292;
	font-size:13px;
}

.footer_under_line{
	border-bottom:1px solid #eee;
	margin-bottom:25px;
	margin-top:-3px;
}

.footer_medium_box{
	height:180px;
	width:1098px;
	margin:0 auto;
}

.footer_medium_box .dlcontaint{
	float:left;
	height:150px;
}

.footer_medium_box .dlcontaint dl{
	display:inline-block;
	margin:0 92px 0 5px;
	height:120px;
	vertical-align:text-top;
}

.footer_medium_box .dlcontaint dt{
	font-size:14px;
	font-weight:bold;
}

.footer_medium_box .dlcontaint dd{
	color:#666;
	margin-top:8px;
}

.footer_medium_box .erweima{
	float:left;
	width:250px;
	height:150px;
}

.footer_medium_box .ewm_left{
	display:inline-block;
	margin-right:45px;
}

.footer_medium_box .ewm_right{
	display:inline-block;
}

.footer_medium_box .erweima span{
	display:block;
	margin-bottom:8px;
	font-size:14px;
	font-weight:bold;
}

.footer_bottom_box{
	text-align:center;
}

.footer_bottom_box p{
	margin-bottom:12px;
}

.footer_bottom_box a{
	margin:0 3px;
}

.footer_bottom_box p.four{
	margin-top:25px;
}

