@charset "utf-8";
/* CSS Document */

body,html{
	font:12px Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#333;
}

body,p,form,input,button,ol,ul,il,dl,dt,dd,h1,h2,h3,h4,h5,h6{
	margin:0px;
	padding:0px;
	list-style:none;
}

a{
	color:#666;
	text-decoration:none;
	cursor:pointer;
}

a:hover{
	color:#ff4040;
}

.wrap{
	margin:0 auto;
	width:1228px;
}

img{
	border:none;
}

/*header部分CSS START*/
.allsort_btn{
	display:inline-block;
	width:210px;
	height:40px;
	line-height:40px;
	background-color:#ff4040;
	color:#FFF;
	font-weight:bold;
	text-align:center;
	font-size:14px;
	position:absolute;
	left:0px;
	bottom:25px;
}
	
.allsort_btn img{
	position:relative;
	top:5px;
	left:-2px;
}

/*这是topbar部分CSS*/


.head_wrapper{
	height:30px;
	line-height:30px;
	border:1px solid #dadada;;
	background:#efefef;
}

.topbar_wrapper_color{
	background-color:#f4f4f4;
	height:30px;
	line-height:30px;
}

.topbar_wrapper{
	position:relative;
	height:30px;
	width:1228px;
	text-align:left;
	margin:0 auto;
}

.topbar_left{
	float:left;
}

.topbar_right{
	float:right;
}

.topbar_right li{
	float:left;
	position:relative;
}


.hd_has_child{
	float:left;
    width:88px;
	text-align:center;;
}

.menu_main, .menu_main_list{
	padding-left:5px;
	text-align:left;
}

.menu_main_list{
	position:absolute;
	width:80px;
	line-height:30px;
	float:left;
	display:none;
	border:1px solid #DADADA;
	background-color:#fff;

}

.menu_main_list a{
	float:left;
	display:block;
}

.menu_mine{
	margin-left:20px;
	margin-right:-2px;
	width:88px;
	float:left;
}
	
.topbar_left:hover{
	color:#ff4040;
	cursor:pointer;
}

.hd_hi, .hd_login_link{
	color:#ff4040;
}

.hd_regist_link{
	color:#aaa;
	padding-left:5px;
}
	
.topbar_right a:hover{
	color:#ff4040;
}

.tubiao_iconfont{
	position:relative;
	top:2px;
	width:14px;
	height:14px;
}

/*这是header_main部分CSS*/

.hd_header_wrap{
	width:1228px;
	margin:0 auto;
}

.headerwrap_main{
	position:relative;
	margin:0 auto;
	width:1228px;
	height:200px;
}

.headerwrap_main .left_logo{
	float:left;
	width:205px;
	height:150px;
	mar
}

.hd_logo_img{
	width:205px;
	height:110px;
	margin-top:20px;
}

.headerwrap_main .hd_main_right{
	position:relative;
	float:left;
	width:1023px;
}

.header_form_wrap{
	float:left;
	margin-left:38px;
	margin-bottom:50px;
	width:752px;
	height:36px;
	line-height:36px;
	background-color:#ff4040;
	border:2px solid #ff4040;
}

.headerwrap_main .hd_right_ipt{
	border:0 none;
	width:685px;
	height:34px;
	line-height:34px;
	padding-left:15px;
}

.headerwrap_main .hd_right_btn{
	position:relative;
	border:0 none;
	background:none;
}

.headerwrap_main .hd_right_btn .sousuo_iconfont{
	position:absolute;
	bottom:-6px;
	left:15px;
	background-color:#ff4040;
}
	
.hd_header_keywordsshow{
	margin:0 auto;
	margin-left:-3px;
}

.hd_header_keywordsshow a:hover{
	color:#ff4040;
	cursor:pointer;
}

.hd_header_keywordsshow a{
	font-size:14px;
	margin-right:10px;
	color:#aaa;
}

.hd_header_cart{
	position:relative;
	width:132px;
	height:38px;
	line-height:38px;
	float:left;
	margin-left:90px;
	border:1px solid #D3D3D3;
	font-size:16px;
	text-align:center;
}

.header_cart_iconfont{
	position:relative;
	top:3px;
	margin-right:12px;
	width:17px;
	height:17px;

}

.hd_header_nav{
	position:relative;
	margin-top:50px;
	margin-left:38px;
	width:785px;
	height:38px;
	
}

.hd_header_nav .tuijian_nav li{
	float:left;
	font-size:16px;
	margin-right:31px;
}


/*body部分CSS START*/


/*footer部分CSS START*/
.footer_wrap{
	background-color:#fff;
}

.wrap_footer_begin{
	background-color:#fff;
	padding:30px 0 30px 30px;
	width:1228px;
}

.footer_top_box{
	padding:0 30px;
}

.footer_top_box a{
	position:relative;
	display:inline-block;
	margin:0 40px 0px 35px;
	height:100px;
	width:206px;
	overflow:hidden;
	color:#333;
}

.footer_top_box img{
	float:left;
	margin-right:15px;
}


.footer_top_box b{
	margin-top:10px;
	display:inline-block;
	font-size:16px;
}

.footer_top_box span{
	display:block;
	margin-top:5px;
	color:#929292;
	font-size:13px;
}

.footer_under_line{
	border-bottom:1px solid #eee;
	margin-bottom:25px;
	margin-top:-3px;
}

.footer_medium_box{
	height:180px;
	width:1098px;
	margin:0 auto;
}

.footer_medium_box .dlcontaint{
	float:left;
	height:150px;
}

.footer_medium_box .dlcontaint dl{
	display:inline-block;
	margin:0 92px 0 5px;
	height:120px;
	vertical-align:text-top;
}

.footer_medium_box .dlcontaint dt{
	font-size:14px;
	font-weight:bold;
}

.footer_medium_box .dlcontaint dd{
	color:#666;
	margin-top:8px;
}

.footer_medium_box .erweima{
	float:left;
	width:250px;
	height:150px;
}

.footer_medium_box .ewm_left{
	display:inline-block;
	margin-right:45px;
}

.footer_medium_box .ewm_right{
	display:inline-block;
}

.footer_medium_box .erweima span{
	display:block;
	margin-bottom:8px;
	font-size:14px;
	font-weight:bold;
}

.footer_bottom_box{
	text-align:center;
}

.footer_bottom_box p{
	margin-bottom:12px;
}

.footer_bottom_box a{
	margin:0 3px;
}

.footer_bottom_box p.four{
	margin-top:25px;
}

























